<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
<script
      src="https://kit.fontawesome.com/00fb7c4cdb.js"
      crossorigin="anonymous"
    ></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

<div th:replace="fragments/sidebar.html::sidebar"></div>

</body>
</html>