<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
Register here!!!
<form action=# th:action="@{/registered}" method="post">
<input type="text" name="name" placeholder="name"/>
<input type="text" name="username" placeholder="username"/>
<input type="text" name="password" placeholder="password"/>
<input type="text" name="phone" placeholder="phone"/>
<input type="text" name="address" placeholder="address"/>
<input type="submit" value="submit" />
</form>
</body>
</html>