<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
<script
      src="https://kit.fontawesome.com/00fb7c4cdb.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
<div th:replace="fragments/sidebar.html::sidebar"></div>
<div class="main-body">
Register here!!!
<!-- <form action=# th:action="@{/registered}" method="post"> -->
<form th:action="@{/register}" th:object="${member}" method="post">

<div class="form-group">
<label for="name" class="form-control-label">Name</label><br>
<input type="text" name="name" placeholder="name" class="form-control" th:field="*{name}" id="name"/>
</div>

<div class="form-group">
<label for="username" class="form-control-label">Username</label><br>
<input type="text" name="username" placeholder="username" class="form-control" th:field="*{username}" id="username"/>
</div>

<div class="form-group">
<label for="password" class="form-control-label">Password</label><br>
<input type="text" name="password" placeholder="password" class="form-control" th:field="*{password}" id="password"/>
</div>

<div class="form-group">
<label for="phone" class="form-control-label">Phone</label><br>
<input type="text" name="phone" placeholder="phone" class="form-control" th:field="*{phone}" id="phone"/>
</div>

<div class="form-group">
<label for="address" class="form-control-label">Address</label><br>
<input type="text" name="address" placeholder="address" class="form-control" th:field="*{address}" id="address"/>
</div>

<input type="submit" value="submit" />


</form>
</div>
</body>
</html>