<div th:fragment="sidebar">
<div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand"> 
                <i class="fas fa-wave-square"></i>
                <span>Undefined</span>
            </h3> 
            <!-- <label for="sidebar-toggle" class="ti-menu-alt"></label> -->
        </div>
        
        <div class="sidebar-menu">
            <div class="menu-box">
            <a href="">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
            </div>
            <div class="menu-box">
            <a href="/register">
                        <i class="fas fa-user"></i>
                        <span>Register</span>
                    </a>
            </div>
        </div>
    </div>
</div>
<!-- <ul>
                <li>
                    <a href="">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-user"></i>
                        <span>Register</span>
                    </a>
                </li>
                
                <li>
                    <a href="">
                        <i class="fas fa-cog"></i>
                        <span>Account</span>
                    </a>
                </li>
            </ul> -->